
/**********************
    FOOTER 

**********************/

.footer {
    padding-top: 40px;
    background: tomato;
    display: flex;
    justify-content: space-evenly;
}

.website-logo {
    width: 100px;
    height: 100px;
}

.footerNavigator {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footerNavigator button {
    background: none;
    width: 100px;
    height: 50px;
    padding: 10px;
    font: italic 20px bolder small-caps;
    color: whitesmoke;
    border: none;
}

.footerNavigator button:hover {
    color: black;
}